input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

.header {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  text-align: center;
  background: #271f028a;
  color: white;
  font-size: 30px;
}

body{
  margin: 0;
  padding: 0;
  background-image: url(http://www.barraques.cat/imgdirs/big/93/939131_cute-love-wallpapers-hd.jpg);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

.form-area{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
}

h3{
  margin: 0;
  padding: 0 0 20px;
  font-weight: bold;
  color: #ffffff;
}


.stylePassword{
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  outline-color: none;
  height: 40px;
  color: #ffffff;
  display: 16px;
}

::placeholder{
  color: #ffffff;
}

.styleStart{
  border: 1px solid #e4685d;
  color: #ffffff;
  font-size: 20px;
  background-color:#e4685d;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  display:inline-block;
  padding: 9px 50px;
}

#incorrecto{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.hide{
  display: none;
}

.show{
  display: inline;
}

.showBlock{
  display: block;
}

.styleTextArea{
  border: 1px solid black;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #c0926db8;
  border-color: #de3a5c;
  border-width: 5px;
  border-style: dotted;

}

.styleButton{
  background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:bold;
	padding:6px 20px;
  font-weight: bold;
  margin: 20px;
}
