input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;
}

html{
  width: inherit;
}
body{
  background: url('../img/fondo.jpg') no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-size: cover;
}
main{
  display:flex;
  justify-content: center;
  align-items: center;
  flex:1;
  /* margin-bottom: 62px; */
}
header{
  font-family: 'Fresca', sans-serif;
  /* padding: 10px; */
  text-align: center;
  background: #271f028a;
  color: white;
  font-size: 25px;
}
.login{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 260px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    padding: 40px;
}
.styleStart{
  border: 1px solid #e4685d;
  color: #ffffff;
  font-size: 20px;
  background-color:#e4685d;
  cursor: pointer;
  font-family: 'Fresca', sans-serif;
  margin-top: 20px;
  width: 194px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
.stylePassword{
    width: 150px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    height: 40px;
    color: #ffffff;
    outline: none;
}
.divPass {
  display: flex;
    flex-flow: row-reverse;
    align-items: center;
}
::placeholder{
  color: #ffffff;
  font-family: 'Fresca', sans-serif;
}
h2{
  margin: 0;
  padding: 0 0 10px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  font-family: 'Fresca', sans-serif;
  font-size: 25px;
}
#incorrecto{
  color: white;
  font-family: 'Fresca', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}
.hide{
  display: none;
}

.styleTextArea{
  border: 1px solid black;
  color: #2b2a2a;
  font-family: 'Fresca', sans-serif;
  font-size: 20px;
  background-color: #fdfebbcc;
  border-color: #de3a5c;
  border-width: 5px;
  border-style: dotted;
  width: 80%;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius:6px;
}
.cifrado{
  flex-direction: column;
  display: flex;
  align-items: center;
}
.styleLabel{
  color: #ffffff;
  font-family: 'Fresca', sans-serif;
  font-size:  18px;
  font-weight:bold;
  margin-right: 10px;
}
.styleButton{
  background-color: #fb6274;
  border-radius:6px;
  border: 1px solid #fc556c;
  cursor:pointer;
  color: #ffffff;
  font-family: 'Fresca', sans-serif;
  font-size:18px;
  font-weight:bold;
  padding:6px 20px;
  font-weight: bold;
  margin: 0px 0px 10px 10px;
  outline: none;
}

.styleOffset{
  width: 50px;
  height: 30px;
  font-size: 18px;
  color:#666666;
  font-size: 15px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
footer{
  background-color: #fb6274;
  font-family: 'Fresca', sans-serif;
  position: fixed;
  bottom: 0px;
  height: 40px;
  color: white;
  /* margin-left: 45%; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
i{
  margin-left: 10px;
}